<link href="../../css/elements/cta.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">
<script src="../../glazed_builder/vendor/WOW/dist/wow.min.js"></script>
<script src="../../glazed_builder/js/glazed.wow.js"></script>

<div data-glazed-builder-libraries="cta animate wow" class="stpe-cta stpe-cta--wide">
  <h2 class="stpe-cta__heading">Discover the Drupal solution that makes your life easy</h2>
  <a class="btn btn-lg btn-primary wow wow-visible pulse clear-both clearfix az-editable" href="sooperthemes.com/pricing">Purchase</a>
</div>