<link href="../../glazed_builder/vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">
<script src="../../glazed_builder/vendor/WOW/dist/wow.min.js"></script>
<script src="../../glazed_builder/js/glazed.wow.js"></script>

<p data-glazed-builder-libraries="animate wow" class="lead center-block col-md-6 az-editable">Please contact us for questions or a free assessment and we will get back to you as soon as possible!</p>
<div class="wow wow-visible pulse clear-both clearfix">
  <a class="btn btn-primary btn-lg center-block col-sm-3 az-editable" href="http://sooperthemes.com/pricing">
  Contact us now
  </a>
</div>
<br />
<p class="text-center clear-both clearfix az-editable">
  <a class="btn btn-default btn-sm bs-popover" data-html="FALSE" data-placement="top" data-animation="TRUE" data-content="You can reach us at 1-55-555-555. You may reach our office from monday to friday form 09.00 to 17.30" data-toggle="popover" href="#" data-original-title="Call us">Or click here for our phone number</a>
</p>