
<p class="lead az-editable">Thousands of Drupal Professionals Love Glazed. Glazed replaces all other themes by providing dozens of full demos,  with unique branding and amazing Drag and Drop features.</p>
<p>
  <a class="btn btn-primary btn-lg clear-both clearfix az-editable" href="http://sooperthemes.com/pricing">
  Try it now
  </a>
</p>