
<p class="lead center-block col-md-6 az-editable">Thousands of Drupal Professionals Love Glazed. Glazed replaces all other themes by providing dozens of full demos,  with unique branding and amazing Drag and Drop elements.</p>
<p>
  <a class="btn btn-primary btn-lg center-block col-sm-3 clear-both clearfix" href="http://sooperthemes.com/pricing">
  Try it now
  </a>
</p>