<link href="../../css/elements/dropshadow.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="dropshadow" class="stpe-dropshadow stpe-dropshadow--curved-hz1 stpe-dropshadow--curved"><img alt="" src="img/placeholder.png"></div>