body,
html {
	overflow-x: visible !important
}

#az-elements-tabs .filter-tags {
	padding: 5px
}

#az-elements-tabs .filter-tags label {
	padding-right: 0.5em
}

.az-sortable-placeholder {
	background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0.1) 5px, rgba(255, 255, 255, 0.4) 5px, rgba(255, 255, 255, 0.4) 10px);
	overflow: hidden;
	max-height: 50px !important;
	opacity: 1 !important
}

.ui-sortable-helper {
	opacity: 0.5 !important
}

body #admin-menu,
body #toolbar {
	z-index: 4500 !important
}

.az-container *,
.glazed * {
	box-sizing: border-box
}

.az-container *:before,
.az-container *:after,
.glazed *:before,
.glazed *:after {
	box-sizing: border-box
}

.az-element .controls {
	font-size: 12px !important;
	line-height: 1.2em !important;
	border: none;
	border-radius: 4px;
	transition: opacity .2s ease-out 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	background: #fcfcfc;
	position: relative
}

.az-element .controls::after {
	border-radius: 3px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
	pointer-events: none;
	opacity: 0;
	transition: opacity .7s ease-in-out
}

.az-element .controls .control {
	display: inline-block;
	float: none;
	border: none;
	border-radius: 0;
	padding: 6px 12px;
	height: 30px;
	top: auto;
	margin: 0
}

.az-element .controls .control:first-child {
	border-radius: 4px
}

.az-element .controls .control:last-child {
	border-radius: 4px
}

.az-element .controls .control.btn-default {
	background: #fcfcfc;
	color: #555
}

.az-element .controls .control.btn-default:hover,
.az-element .controls .control.btn-default:focus {
	background: #ddd
}

.az-element .controls .control.drag-and-drop {
	cursor: move;
	text-transform: uppercase
}

.az-element .controls .control.drag-and-drop::before {
	margin-right: 3px
}

.az-element .controls.btn-group-xs .control {
	padding: 8px;
	border-left: none;
	border-right: none;
	font-size: 12px;
	line-height: 14px
}

.az-element .controls.btn-group-xs .control.default {
	background: #aaa;
	color: #eee
}

.az-element .controls.btn-group-xs .control-label {
	position: relative;
	top: -2px
}

.az-element .controls>.popover {
	border: none !important;
	outline: none !important;
	padding: 0 !important;
	box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23) !important;
	border-radius: 0 0 3px 3px !important
}

.az-element .controls>.popover .popover-title {
	background: #0180ef !important;
	color: #fff !important;
	border-radius: 3px 3px 0 0 !important
}

.az-element>.controls {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3500;
	text-align: center;
	word-wrap: normal;
	white-space: nowrap;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.az-element--controls-top-left>.controls {
	left: 0px;
	top: 0;
	-ms-transform: none;
	transform: none
}

.glazed-editor .az-element--controls-spacer {
	margin-top: 32px !important
}

.glazed-editor .az-element.az-section>.controls {
	left: 2px;
	top: 2px
}

.glazed-editor .az-element.az-section>.controls .az-element.az-section>.controls {
	left: 0;
	top: 0
}

.az-container:before,
.glazed-editor .az-wizard:before,
.glazed-editor .az-ctnr:before,
.glazed-editor .az-element.az-row:before,
.glazed-editor .az-element.az-section:before,
.glazed-editor .az-element.az-grid ul:before,
.glazed-editor .az-tabs .tab-content:before,
.glazed-editor .az-accordion.az-element:before {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: visible;
	overflow: hidden
}

.az-container>.controls {
	position: absolute;
	right: 2px;
	top: 2px;
	left: auto
}

.az-container>.controls::after {
	opacity: 1
}

.az-container>.controls .control:first-child {
	border-radius: 0
}

.az-container>.controls .control:last-child {
	border-radius: 0
}

.az-container>.controls>.control:first-child {
	width: 41px;
	background: #0180ef url("../images/glazed-builder-logo.png") no-repeat scroll -21px 50%/368% auto;
	cursor: default;
	position: relative;
	text-indent: -99999px;
	overflow: hidden;
	transition: width .2s ease-out .6s, background .2s ease-out .6s
}

.az-container>.controls>.control:first-child:hover {
	width: 100px;
	background: #0180ef url("../images/glazed-builder-logo.png") no-repeat center center/54px;
	background-size: 80%
}

.glazed-editor .az-container {
	top: 0
}

.az-container .az-container>.controls>.control:first-child {
	cursor: move
}

.glazed-editor .az-element .controls {
	display: block !important
}

.glazed-editor .az-element>.controls:hover {
	z-index: 3501
}

.az-container:hover>.controls,
.glazed-editor .controls--show,
.glazed-editor .controls:hover {
	pointer-events: auto;
	opacity: 1;
	transition: opacity .2 ease-in-out 0
}

.az-container:hover>.controls::after,
.glazed-editor .controls--show::after,
.glazed-editor .controls:hover::after {
	opacity: 1
}

.glazed-editor .az-element--hide-controls>.controls {
	opacity: 0 !important;
	pointer-events: none !important
}

.az-row>.controls {
	transition: none !important
}

.glazed-editor.az-container>.az-section:hover {
	z-index: 2000
}

.control.toggle-animations,
.control.copy,
.control.paste {
	display: none !important
}

.glyphicon {
	font-family: 'Glyphicons Halflings' !important
}

.controls .glyphicon {
	font-family: inherit !important
}

.glyphicon:before,
.glyphicon::before {
	font-family: "Glyphicons Halflings" !important
}

.az-column>.controls.btn-group-xs .btn.drag-and-drop {
	cursor: col-resize
}

.az-tabs a[role=tab] {
	cursor: col-resize
}

.az-separator {
	min-height: 1px
}

.az-container.glazed {
	min-height: 50px
}

.az-highlight {
	z-index: 10000 !important
}

.az-highlight .controls {
	display: block !important
}

.control.add-section {
	border: none;
	display: block;
	margin: 0;
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	padding: 4px 9px;
	background: #fcfcfc;
	color: #555;
	bottom: 0;
	box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
	left: 50%;
	opacity: 0;
	position: absolute;
	right: auto;
	top: auto;
	transition: opacity .1s ease-out;
	z-index: 3500
}
.control.add-saved-section {
	border: none;
	display: block;
	margin: 0;
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	padding: 4px 9px;
	background: #fcfcfc;
	color: #555;
	bottom: 0;
	box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
	left: 50%;
	opacity: 0;
	position: absolute;
	right: auto;
	top: auto;
	transition: opacity .1s ease-out;
	z-index: 3500;
	margin-left: -50px;
}
.control.add-section:hover,
.control.add-section:focus,
.control.add-saved-section:hover,
.control.add-saved-section:focus {
	background: #fcfcfc;
	color: #555;
	border: none
}

.glazed-editor .az-section:hover>.add-section,
.glazed-editor .az-section:hover>.add-saved-section {
	opacity: 1;
	transition: opacity .2s ease-in-out
}

.empty-cms-block-placeholder {
	min-height: 60px;
	background: repeating-linear-gradient(45deg, #fff, #fff 10px, #f6f6f6 10px, #f6f6f6 20px)
}

.az-unknown {
	display: none
}

.glazed-editor .az-unknown {
	display: block;
	color: #ff0000;
	font-style: italic;
	outline: 2px dashed #EBEBEB
}

.glazed-editor .az-empty {
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	min-height: 128px;
	font-size: 12px;
	margin-top: 50px
}

.glazed-editor .az-empty h1 {
	margin: 0;
	padding: 0
}

.glazed-editor .az-empty .lead {
	color: #bbb;
	text-align: center
}

.glazed-editor .az-empty .well {
	z-index: 0
}

.glazed-editor .az-empty .well:hover {
	z-index: 1
}

.glazed-editor .az-empty .top {
	background: transparent
}

.glazed-editor .az-empty .top-left {
	text-align: left;
	position: absolute;
	top: 0
}

.glazed-editor .az-empty .bottom-left {
	text-align: left;
	position: absolute;
	left: 2%;
	bottom: 0;
	width: 30%
}

.glazed-editor .az-empty .bottom {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 40%;
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}

.glazed-editor .az-empty .top-right {
	text-align: right;
	position: absolute;
	right: 0;
	top: 0
}

.glazed-editor .az-empty .bottom-right {
	text-align: right;
	position: absolute;
	right: 2%;
	bottom: 0;
	width: 30%
}

.glazed-editor .az-empty::after {
	content: " +";
	color: black;
	text-shadow: 0 0 7px white;
	font-family: 'Glyphicons Halflings';
	font-weight: 400;
	font-size: 3em;
	opacity: 0.15;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.glazed-editor.az-container>.az-empty {
	position: relative;
	min-height: 250px
}

.glazed-editor .az-layers>.az-ctnr>.az-empty {
	min-height: 100%
}

.glazed-editor .az-empty .glazed-choose-layout {
	color: #0180ef;
	weight: 300;
	font-size: 18px;
	letter-spacing: 0.5px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px 40px;
	border-radius: 60px;
	border: 2px solid #d4d5d6;
	display: inline-block;
	transition: border-color 0.4s
}

.glazed-editor .az-empty .glazed-choose-layout:hover,
.glazed-editor .az-empty .glazed-choose-layout:focus {
	border-color: #0180ef
}

.glazed-editor div.az-layers:hover>.az-ctnr:after,
.glazed-editor .az-layers:hover>.az-ctnr>.az-element:after {
	content: '.';
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px dotted #222;
	border: 1px dotted rgba(0, 0, 0, 0.4)
}

.glazed-editor .az-row:hover .az-ctnr:after,
.az-container.glazed:hover:after {
	content: '';
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 2px dashed #EBEBEB;
	outline: 2px dashed rgba(125, 125, 125, 0.4)
}

.az-row>.controls>.popover.right {
	margin-left: 0px
}

.az-row>.controls>.popover {
	min-width: 380px
}

.az-row>.controls>.popover .popover-content {
	padding-right: 0 !important
}

.row-layouts {
	text-align: center;
	word-wrap: normal;
	white-space: nowrap
}
.row-layouts p {
	clear: both;
}

.custom-row-control {
	color: #555 !important;
	text-transform: lowercase;
	position: relative;
	top: 2px
}

.set-columns-layout:hover {
	cursor: pointer
}
.popover .row-layouts .az-mini-container {
	width: 45px;
	float: left;
	color: #555 !important;
	background: #fff !important;
	padding: 0 !important;
	margin: 0 !important
}

.popover .row-layouts .az-mini-container .row {
	padding: 4px 2px 4px 2px;
	margin-left: 0;
	margin-right: 5px;
	margin-bottom: 15px;
	border: 1px solid #dfdfdf;
	height: 28px
}

.popover .row-layouts .az-mini-container .row:hover {
	background: #f3f3f3;
	border-color: #0180ef
}

.popover .row-layouts .az-mini-container [class^="col"] {
	padding-left: 1px;
	padding-right: 1px;
	margin-bottom: 10px;
	text-align: center
}

.popover .row-layouts .az-mini-container .content {
	background: #555;
	color: silver;
	width: 100%;
	height: 18px
}

.az-row-custom {
	display: block;
	clear: both;
	width: 100%
}

.az-row-custom a {
	color: #0180ef
}

.az-row-custom a:hover,
.az-row-custom a:focus,
.az-row-custom a:active {
	color: #0180ef
}

.editable-highlight,
.editable-highlight:hover,
.styleable-highlight,
.styleable-highlight:hover,
.sortable-highlight,
.sortable-highlight:hover {
	outline: 2px dashed gray !important;
	cursor: pointer !important
}

.sortable-highlight,
.sortable-highlight:hover {
	outline: 2px dotted gray !important;
	cursor: move !important
}

.restoreable-highlight::after,
.restoreable-highlight:hover::after {
	content: ' ';
	cursor: pointer;
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	opacity: 0.9;
	background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0.1) 5px, transparent 5px, transparent 10px)
}

.az-sortable>* {
	position: relative
}

.az-sortable-controls {
	cursor: pointer !important;
	position: absolute !important;
	display: block !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background: white !important;
	z-index: 10000 !important;
	opacity: 0.9 !important;
	text-align: center !important
}

.az-sortable-clone {
	position: absolute !important;
	display: block !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 50% !important;
	color: black !important;
	vertical-align: middle !important
}

.az-sortable-remove {
	position: absolute !important;
	display: block !important;
	left: 0 !important;
	top: 50% !important;
	width: 100% !important;
	height: 50% !important;
	color: black !important;
	vertical-align: middle !important
}

.az-left-sidebar,
.az-right-sidebar {
	background-color: #fff;
	color: #444;
	position: fixed;
	top: 0px;
	width: 500px;
	height: 100%;
	z-index: 10000;
	transition: left 0.15s ease-out;
	box-shadow: 0 3px 20px 0 rgba(50, 50, 50, 0.23)
}

.az-left-sidebar a,
.az-right-sidebar a {
	color: #0180ef
}

.az-left-sidebar a:hover,
.az-left-sidebar a:focus,
.az-left-sidebar a:active,
.az-right-sidebar a:hover,
.az-right-sidebar a:focus,
.az-right-sidebar a:active {
	color: #0180ef
}

.az-left-sidebar a:focus,
.az-right-sidebar a:focus {
	background: #f0f0f0
}

.az-left-sidebar {
	left: -500px
}

.az-right-sidebar {
	right: -500px
}

.az-left-sidebar:hover {
	left: 0px;
	transition-timing-function: ease-in-out
}

.az-right-sidebar:hover {
	right: 0px
}

.az-left-sidebar::after,
.az-right-sidebar::after {
	position: absolute;
	content: ' ';
	bottom: 100px;
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 0 4px 4px 0;
	background: #0180ef url("../images/glazed-logo-white.svg") no-repeat center center;
	background-size: 50px
}

.glazed-snippets-header {
	background: #0180ef;
	pointer-events: none
}

.glazed-snippets-header h3 {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	top: 5px
}

.glazed-snippets-header img {
	display: inline-block;
	padding-right: 10px;
	width: 50px
}

.az-left-sidebar::after {
	right: -50px
}

.az-right-sidebar::after {
	left: -50px
}

.nav.az-nav-list {
	padding-left: 15px;
	margin-bottom: 0;
	display: none;
	height: 100%;
	position: relative;
	background: #fff;
	z-index: 2010
}

.nav.az-nav-list>li>a {
	padding: 8px 10px;
	margin-left: -15px;
	display: block
}

#az-template-elements,
#az-thumbnails,
#az-template-elements *,
#az-thumbnails * {
	box-sizing: border-box
}

#az-template-elements>.nav.az-nav-list {
	display: block
}

#az-template-elements {
	width: 200px;
	left: -200px
}

#az-template-elements:hover {
	left: 0px
}

#az-thumbnails {
	display: none;
	overflow-y: scroll;
	height: 100%;
	width: 250px;
	position: absolute;
	z-index: 2005;
	left: 200px;
	top: 0px;
	background-color: #f0f0f0;
	box-shadow: 0 3px 20px 0 rgba(50, 50, 50, 0.23);
	padding: 10px
}

#az-template-elements.az-thumbnails::after {
	right: -200px
}

.az-thumbnail {
	cursor: move;
	margin-bottom: 10px
}

#az-template-elements-welcome {
	background-color: whitesmoke;
	position: fixed;
	bottom: 100px;
	left: 100px;
	width: 600px;
	z-index: 10000;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: left
}

.modal.glazed .modal-content .slider {
	position: relative;
	display: block
}

.modal.glazed .modal-content .slider.slider-horizontal {
	width: 195px
}

.modal.glazed .modal-content .slider-track {
	height: 6px;
	background: #f1f5f9;
	box-shadow: none
}

.modal.glazed .modal-content .slider-selection {
	background: #0180ef
}

.modal.glazed .modal-content .slider-handle {
	background: #000;
	width: 17px;
	height: 17px;
	margin-top: -1px
}

.modal.glazed .modal-content .slider+input.form-control {
	display: block !important;
	min-width: 50px;
	width: 50px;
	position: absolute;
	left: 209px;
	top: 0;
	margin-top: -7px
}

#az-editor-modal .bootstrap-switch {
	background: #ddd;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-bottom: 10px;
	height: 28px;
	max-width: 110px
}

#az-editor-modal .bootstrap-switch-handle-on,
#az-editor-modal .bootstrap-switch-label,
#az-editor-modal .bootstrap-switch-handle-off {
	background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0%, rgba(40, 50, 60, 0.1) 100%)
}

#az-editor-modal .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
#az-editor-modal .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
	background: #0180ef
}

.glazed .iris-picker,
.glazed .iris-picker * {
	box-sizing: content-box
}

.glazed .iris-picker {
	padding-top: 35px !important
}

.iris-palette-container {
	margin-bottom: 25px !important
}

.iris-alpha-slider-container {
	border: none !important;
	bottom: 5px !important;
	left: 5px !important;
	width: 95% !important
}

.modal.glazed input[type=text],
.modal.glazed input[type=search],
.modal.glazed select,
.modal.glazed option,
.modal.glazed .chosen-container-single .chosen-single {
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: auto;
	padding: 6px;
	background: #f6f6fb;
	outline: none;
	border-radius: 4px
}

.modal.glazed input[type=text]:focus,
.modal.glazed input[type=search]:focus,
.modal.glazed select:focus,
.modal.glazed option:focus,
.modal.glazed .chosen-container-single .chosen-single:focus {
	outline: none
}

.modal.glazed .form-group {
	padding-bottom: 10px;
	margin-bottom: 15px;
	position: relative;
	width: 50%
}

.modal.glazed .form-group input[type=text],
.modal.glazed .form-group input[type=search],
.modal.glazed .form-group select {
	width: auto;
	min-width: 260px
}

.modal.glazed .form-group label {
	float: left;
	clear: both;
	font-weight: normal;
	color: #888;
	width: 175px;
	font-size: 15px
}

.modal.glazed .form-group .views-exposed-form .views-exposed-widget {
	float: none;
	padding: 0
}

.modal.glazed .form-group>div,
.modal.glazed .form-group>p,
.modal.glazed .form-group>select {
	margin-left: 175px;
	position: relative
}

.modal.glazed .form-group>div label,
.modal.glazed .form-group>p label,
.modal.glazed .form-group>select label {
	width: auto;
	clear: none
}

.modal.glazed .form-group.form-group--content,
.modal.glazed .form-group.form-group--css,
.modal.glazed .form-group.form-group--el_class,
.modal.glazed .form-group.form-group--html,
.modal.glazed .form-group.form-group--icon,
.modal.glazed .form-group.form-group--image,
.modal.glazed .form-group.form-group--images,
.modal.glazed .form-group.form-group--javascript,
.modal.glazed .form-group.form-group--rawtext,
.modal.glazed .form-group.form-group--textarea {
	width: 100%
}

.modal.glazed .form-group .checkbox {
	min-height: 1.8em
}

.modal.glazed .chosen-choices .search-field input[type=text] {
	height: 2.5em
}

.modal.glazed .glazed-builder-image-input {
	opacity: 0.5;
	padding: 2px;
	margin-top: 4px
}

#az-editor-tabs .icons {
	height: 350px;
	overflow: scroll
}

#az-editor-tabs .cb-search-icon {
	display: block;
	margin: 10px 0
}

#az-editor-tabs .cb-search-icon::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
	cursor: pointer
}

#az-editor-tabs .az-icon-sets {
	margin: 10px
}

#az-editor-tabs .icons .cb-icons-wrapper span {
	width: 6%;
	font-size: 24px;
	cursor: pointer
}

#az-editor-tabs .icons .cb-icons-wrapper .ui-selected {
	color: green
}

.az-filter-hide,
.az-search-hide {
	display: none !important;
	pointer-events: none
}

div.modal-lg {
	width: 900px
}

div.modal-dialog {
	padding: 0px
}

.modal-backdrop {
	z-index: -1 !important;
	width: 1px !important;
	height: 1px !important
}

.modal.glazed {
	z-index: 5000
}

.modal.glazed:before {
	content: ' ';
	z-index: 5000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000000;
	opacity: 0.1
}

.modal.glazed .btn-default {
	background: #f6f6fb;
	color: #555
}

.modal.glazed .btn-default:hover,
.modal.glazed .btn-default:focus,
.modal.glazed .btn-default:active {
	background: #f6f6fb;
	color: #555
}

.modal.glazed .btn-primary {
	background: #0180ef;
	color: #fff
}

.modal.glazed .btn-primary:hover,
.modal.glazed .btn-primary:focus,
.modal.glazed .btn-primary:active {
	background: #0180ef;
	color: #fff
}

.modal.glazed .modal-dialog {
	margin-top: 80px;
	color: #333;
	z-index: 5005
}

.modal.glazed .modal-dialog .tab-content a {
	color: #0180ef;
	text-decoration: underline
}

.modal.glazed .modal-dialog .tab-content a:hover,
.modal.glazed .modal-dialog .tab-content a:focus {
	color: #0180ef
}

.modal.glazed .modal-dialog .tab-content h1,
.modal.glazed .modal-dialog .tab-content h2,
.modal.glazed .modal-dialog .tab-content h3,
.modal.glazed .modal-dialog .tab-content h4,
.modal.glazed .modal-dialog .tab-content h5,
.modal.glazed .modal-dialog .tab-content h6 {
	color: #333
}

.modal.glazed .modal-dialog .tab-content .chosen-container a {
	color: inherit;
	text-decoration: none
}

.modal.glazed .modal-header {
	border: none;
	background: #0180ef;
	color: #fff;
	font-size: 14px;
	padding: 13px 20px;
	position: relative
}

.modal.glazed .modal-header .modal-title {
	font-size: 16px;
	color: #fff
}

.modal.glazed .modal-header .close {
	font-size: 30px;
	opacity: 0.3
}

.modal.glazed .modal-header img {
	width: 54px;
	position: absolute;
	top: 0;
	left: 0
}

.modal.glazed .modal-content {
	border-radius: 0;
	border: none;
	box-shadow: 0 8px 38px 0 rgba(0, 0, 0, 0.3)
}

.modal.glazed .tab-content {
	padding-top: 15px
}

.modal.glazed .modal-body .help-block,
.modal.glazed .modal-body .help-inline {
	color: #bbb;
	font-size: 13px
}

.modal.glazed .modal-body .help-block {
	clear: both
}

.modal.glazed .modal-footer {
	border: none;
	padding: 0
}

.modal.glazed .modal-footer .btn {
	border-radius: 0;
	border: none;
	font-size: 18px;
	padding: 10px 20px;
	margin: 0;
	width: 50%
}

.modal.glazed .modal-footer .btn.save {
	color: #fff;
	padding: 10px 20px
}
#az-elements-tabs .tab-pane h3 {
	clear: both;
	padding-top: 15px;
}
#az-elements-tabs .tab-pane h3:first-child {
	padding-top: 0;
}
#az-elements-tabs .tab-pane .page-template {
	width: 100%;
	height: auto;
	padding: 15px 0;
	cursor: pointer
}

#az-elements-tabs .tab-pane .page-template .lead {
	margin: 0;
	padding: 0 0 5px 0
}

#az-elements-tabs .tab-pane .page-template img {
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px
}

#az-elements-tabs .tab-pane .page-template:hover img,
#az-elements-tabs .tab-pane .page-template:focus img {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
}

.modal.glazed .form-radios {
	padding: 0;
	background: #fff;
	float: left;
	width: 260px;
	font-size: 13px;
	box-sizing: border-box
}

.modal.glazed .form-radios:before {
	content: " ";
	display: table
}

.modal.glazed .form-radios:after {
	content: " ";
	display: table;
	clear: both
}

.modal.glazed .form-radios .form-type-radio:before {
	content: " ";
	display: table
}

.modal.glazed .form-radios .form-type-radio:after {
	content: " ";
	display: table;
	clear: both
}

.modal.glazed .form-radios .form-type-radio input {
	display: none
}

.modal.glazed .form-radios .form-type-radio input:checked~label {
	font-weight: normal;
	font-style: italic
}

.modal.glazed .form-radios .form-type-radio input:checked~label:before {
	content: '✓';
	font-weight: bold
}

.modal.glazed .form-radios .form-type-radio label {
	border: 1px solid #ddd;
	padding: 5px 15px;
	width: 260px;
	margin-top: -1px;
	margin-bottom: 0;
	line-height: 24px;
	float: left;
	display: block;
	font-size: 13px
}

.modal.glazed .form-radios .form-type-radio label:before {
	content: '';
	display: inline-block;
	width: 25px;
	font-size: 18px;
	line-height: 1em;
	color: #000;
	font-weight: normal
}

#az-editor-tabs .style .settings .chosen-container {
	width: 260px !important
}

#az-editor-tabs .style .layout {
	padding-top: 0;
	position: absolute;
	top: 30px;
	right: 0;
	width: 50%
}

#az-editor-tabs .style .layout input {
	position: absolute;
	text-align: center;
	padding: 3px 0;
	height: 24px;
	width: 34px;
	margin: 0;
	border: 1px solid transparent;
	font-size: 12px;
	line-height: 12px
}

#az-editor-tabs .style .layout .margin,
#az-editor-tabs .style .layout .border,
#az-editor-tabs .style .layout .padding,
#az-editor-tabs .style .layout .content {
	margin: 44px;
	position: relative;
	border: 5px solid transparent
}

#az-editor-tabs .style .layout .margin {
	background: #fff;
	border: 1px dashed #e9e9f3
}

#az-editor-tabs .style .layout .border {
	background: #f6f6fb
}

#az-editor-tabs .style .layout .border input {
	background: #fff
}

#az-editor-tabs .style .layout .padding {
	background: #fff
}

#az-editor-tabs .style .layout .padding input {
	background: #f6f6fb
}

#az-editor-tabs .style .layout input[name="margin_top"],
#az-editor-tabs .style .layout input[name="border_top_width"],
#az-editor-tabs .style .layout input[name="padding_top"] {
	top: 11px;
	left: 50%;
	margin-left: -17px
}

#az-editor-tabs .style .layout input[name="margin_right"],
#az-editor-tabs .style .layout input[name="border_right_width"],
#az-editor-tabs .style .layout input[name="padding_right"] {
	top: 50%;
	right: 5px;
	margin-top: -12px
}

#az-editor-tabs .style .layout input[name="margin_bottom"],
#az-editor-tabs .style .layout input[name="border_bottom_width"],
#az-editor-tabs .style .layout input[name="padding_bottom"] {
	bottom: 11px;
	left: 50%;
	margin-left: -17px
}

#az-editor-tabs .style .layout input[name="margin_left"],
#az-editor-tabs .style .layout input[name="border_left_width"],
#az-editor-tabs .style .layout input[name="padding_left"] {
	top: 50%;
	left: 5px;
	margin-top: -12px
}

#az-editor-tabs .style .layout label {
	display: inline-block;
	position: absolute;
	font-size: 11px;
	line-height: 9px;
	top: 6px;
	left: 5px;
	color: #2C2C2C;
	margin: 0;
	padding: 0
}

#az-editor-tabs .style .layout .content {
	border: none;
	height: 50px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	line-height: 11px;
	box-sizing: border-box
}

.html .modal.glazed .nav-tabs {
	padding: 0 !important;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
	border: none;
	background: #f6f6fb;
	color: #444
}

.html .modal.glazed .nav-tabs li {
	margin: 0
}

.html .modal.glazed .nav-tabs li>a {
	border: none;
	background: none;
	outline: none;
	padding: 13px 20px;
	font-size: 14px;
	border-radius: 0;
	margin: 0;
	color: #555
}

.html .modal.glazed .nav-tabs li>a:hover,
.html .modal.glazed .nav-tabs li>a:focus {
	color: #555;
	outline: none;
	border: none
}

.html .modal.glazed .nav-tabs li.active a {
	background: #e9e9f3;
	color: #0180ef;
	border: none;
	outline: none
}

#az-elements-tabs .tab-pane .well {
	float: left;
	width: 163px;
	margin: 5px;
	height: 120px;
	padding: 20px 8px;
	font-size: 14px;
	background: #f6f6fb;
	color: #333
}

#az-elements-tabs .tab-pane .well:hover {
	cursor: pointer
}

#az-elements-tabs .tab-pane .well i {
	display: block;
	font-size: 32px;
	width: 100%;
	padding-bottom: 10px
}

#az-elements-tabs .tab-pane .well.glazed-cms {
	height: 80px;
	padding: 8px;
	text-align: left
}

#az-elements-tabs .tab-pane .well.glazed-cms i {
	display: inline-block;
	font-size: 20px;
	width: auto;
	padding-right: 3px
}