<link href="../../css/elements/teambox.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/css/social.css" rel="stylesheet" type="text/css">

<div class="row">
  <div class="col-sm-3">
    <div data-glazed-builder-libraries="teambox font_awesome icon_helpers social_icons" class="stpe-teambox stpe-teambox--split clearfix">
      <img alt="" class="img-responsive" src="img/portrait-2-518.jpg">

      <div class="stpe-teambox__member-info">
        <div class="stpe-teambox__member-social">
          <ul class="stbe-social-links stbe-social-links--inline">
            <li class="stbe-social-links__item" title="twitter">
              <a class="fa fa-twitter stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>

            <li class="stbe-social-links__item" title="linkedin">
              <a class="fa fa-linkedin stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>
          </ul>
        </div>

        <div class="stpe-teambox__member-name-role az-editable">
          <h3 class="stpe-teambox__member-name">Jeffrey McHill</h3>

          <h4 class="stpe-teambox__member-role">Consultant</h4>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-3">
    <div data-glazed-builder-libraries="teambox font_awesome icon_helpers social_icons" class="stpe-teambox stpe-teambox--split clearfix">
      <img alt="" class="img-responsive" src="img/portrait-12-518.jpg">

      <div class="stpe-teambox__member-info">
        <div class="stpe-teambox__member-social">
          <ul class="stbe-social-links stbe-social-links--inline">
            <li class="stbe-social-links__item" title="twitter">
              <a class="fa fa-twitter stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>

            <li class="stbe-social-links__item" title="linkedin">
              <a class="fa fa-linkedin stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>
          </ul>
        </div>

        <div class="stpe-teambox__member-name-role az-editable">
          <h3 class="stpe-teambox__member-name">Kathy Austin</h3>

          <h4 class="stpe-teambox__member-role">Consultant</h4>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-3">
    <div data-glazed-builder-libraries="teambox font_awesome icon_helpers social_icons" class="stpe-teambox stpe-teambox--split clearfix">
      <img alt="" class="img-responsive" src="img/portrait-6-518.jpg">

      <div class="stpe-teambox__member-info">
        <div class="stpe-teambox__member-social">
          <ul class="stbe-social-links stbe-social-links--inline">
            <li class="stbe-social-links__item" title="twitter">
              <a class="fa fa-twitter stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>

            <li class="stbe-social-links__item" title="linkedin">
              <a class="fa fa-linkedin stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>
          </ul>
        </div>

        <div class="stpe-teambox__member-name-role az-editable">
          <h3 class="stpe-teambox__member-name">Jenny White</h3>

          <h4 class="stpe-teambox__member-role">Consultant</h4>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-3">
    <div data-glazed-builder-libraries="teambox font_awesome icon_helpers social_icons" class="stpe-teambox stpe-teambox--split clearfix">
      <img alt="" class="img-responsive" src="img/portrait-16-518.jpg">

      <div class="stpe-teambox__member-info">
        <div class="stpe-teambox__member-social">
          <ul class="stbe-social-links stbe-social-links--inline">
            <li class="stbe-social-links__item" title="twitter">
              <a class="fa fa-twitter stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>

            <li class="stbe-social-links__item" title="linkedin">
              <a class="fa fa-linkedin stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
            </li>
          </ul>
        </div>

        <div class="stpe-teambox__member-name-role az-editable">
          <h3 class="stpe-teambox__member-name">Fairlyn Bodet</h3>

          <h4 class="stpe-teambox__member-role">Consultant</h4>
        </div>
      </div>
    </div>
  </div>
</div>