<link href="../../css/elements/imagebox.css" rel="stylesheet" type="text/css">
<script src="../../glazed_builder/vendor/WOW/dist/wow.min.js"></script>
<script src="../../glazed_builder/js/glazed.wow.js"></script>

<div data-glazed-builder-libraries="imagebox wow" class="stpe-imagebox">
  <figure class="stpe-imagebox__figure stpe-imagebox__figure--sawar wow">
    <img class="stpe-imagebox__image" src="https://i.imgur.com/9CYpoKe.jpg">

    <figcaption class="stpe-imagebox__fig-caption">
      <h2 class="stpe-imagebox__title">Sawar Animation</h2>

      <div class="stpe-imagebox__fig-content">
        <p class="az-editable">This is a sub-title.</p>
        <a class="btn stpe-borderbutton glazed-util-border-primary text-primary glazed-util-hover-color-white glazed-util-hover-border-primary glazed-util-hover-background-primary" href="http://sooperthemes.com/">Buy Theme!</a>
      </div>
    </figcaption>
  </figure>
</div>