<link href="../../glazed_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconwell.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="iconwell icon_helpers font_awesome et_line_icons pe_icon_7_stroke" class="stpe-iconwell well well-lg az-styleable bg-primary">
<i class="fa fa-heart-o glazed-util-color-accent1 stpe-iconwell__icon">
  <span class="element-invisible">&nbsp;</span>
</i>
  <h2 class="stpe-iconwell__title glazed-util-color-white">Icon Well</h2>
  <div class="az-editable stpe-iconwell__content glazed-util-color-white">
    <ul>
      <li>Best Design</li>
      <li>Best Code</li>
      <li>Most Demos</li>
      <li>Most Elements</li>
      <li>Best Drag &amp; Drop</li>
    </ul>
  </div>
</div>