<link href="../../glazed_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconwell.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="iconwell icon_helpers font_awesome et_line_icons pe_icon_7_stroke" class="stpe-iconwell well well-lg az-styleable glazed-util-border-primary" style="border-top-width:0px;border-bottom-width:3px;border-left-width:0px;border-right-width:0px;border-style:solid;background-color:#eeeeee;">
<i class="glyphicon glyphicon-tint text-primary stpe-iconwell__icon">
  <span class="element-invisible">&nbsp;</span>
</i>
  <h2 class="stpe-iconwell__title"><span style="color: #999999;">Icon Well</span></h2>
  <div class="az-editable stpe-iconwell__content">
    <ul>
      <li><span style="color: #999999;">Best Design</span></li>
      <li><span style="color: #999999;">Best Code</span></li>
      <li><span style="color: #999999;">Most Demos</span></li>
      <li><span style="color: #999999;">Most Elements</span></li>
      <li><span style="color: #999999;">Best Drag &amp; Drop</span></li>
    </ul>
  </div>
</div>