<link href="../../css/elements/timeline.css" rel="stylesheet" type="text/css">

<section class="az-rootable">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our History</h2>
        <h3 class="section-subheading glazed-util-text-muted">A Bird's-eye View of Our History</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul data-glazed-builder-libraries="timeline" class="stpe-timeline az-sortable">
          <li>
            <div class="stpe-timeline__image glazed-util-color-white az-styleable">
              <img class="img-circle img-responsive" src="img/timeline-placeholder.png" alt="">
            </div>
            <div class="stpe-timeline__panel">
              <div class="stpe-timeline__heading">
                <h4>2007-2010</h4>
                <h4 class="subheading">Phase 1</h4>
              </div>
              <div class="stpe-timeline-body">
                <p class="az-editable">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Glazed decided to leave for..</p>
              </div>
            </div>
          </li>
          <li class="stpe-timeline--inverted">
            <div class="stpe-timeline__image glazed-util-color-white az-styleable">
              <img class="img-circle img-responsive" src="img/timeline-placeholder.png" alt="">
            </div>
            <div class="stpe-timeline__panel">
              <div class="stpe-timeline__heading">
                <h4>March 2009</h4>
                <h4 class="subheading">Phase 2</h4>
              </div>
              <div class="stpe-timeline-body">
                <p class="az-editable">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Glazed decided to leave for..</p>
              </div>
            </div>
          </li>
          <li>
            <div class="stpe-timeline__image glazed-util-color-white az-styleable">
              <img class="img-circle img-responsive" src="img/timeline-placeholder.png" alt="">
            </div>
            <div class="stpe-timeline__panel">
              <div class="stpe-timeline__heading">
                <h4>July 2010</h4>
                <h4 class="subheading">Phase 3</h4>
              </div>
              <div class="stpe-timeline-body">
                <p class="az-editable">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Glazed decided to leave for..</p>
              </div>
            </div>
          </li>
          <li class="stpe-timeline--inverted">
            <div class="stpe-timeline__image glazed-util-color-white az-styleable">
              <img class="img-circle img-responsive" src="img/timeline-placeholder.png" alt="">
            </div>
            <div class="stpe-timeline__panel">
              <div class="stpe-timeline__heading">
                <h4>November 2014</h4>
                <h4 class="subheading">Phase 4</h4>
              </div>
              <div class="stpe-timeline-body">
                <p class="az-editable">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Glazed decided to leave for..</p>
              </div>
            </div>
          </li>
          <li class="stpe-timeline--inverted">
            <div class="stpe-timeline__image bg-primary glazed-util-color-white az-styleable">
              <h4 class="glazed-util-color-white">Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
