<link href="../../glazed_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconbox.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="iconbox icon_helpers font_awesome et_line_icons pe_icon_7_stroke" class="row">
  <div class="col-md-4">
    <div class="stbe-iconbox stbe-iconbox--4x-icon az-styleable stbe-iconbox--icon-boxed stbe-iconbox--rounded" style="background-color:#6fb07f;">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon fa-4x fa fa-heart" style="color: #bb2326;">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains.
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="stbe-iconbox stbe-iconbox--4x-icon az-styleable stbe-iconbox--icon-boxed stbe-iconbox--rounded" style="background-color:#068587;">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon fa-4x fa fa-heart" style="color: #bb2326;">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains.
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="stbe-iconbox stbe-iconbox--4x-icon az-styleable stbe-iconbox--icon-boxed stbe-iconbox--rounded" style="background-color:#fc5b3f;">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon fa-4x fa fa-heart" style="color: #fcb03c;">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains.
      </div>
    </div>
  </div>
</div>