<link href="../../glazed_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconbox.css" rel="stylesheet" type="text/css">
<link href="../../glazed_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="iconbox icon_helpers font_awesome et_line_icons pe_icon_7_stroke" class="stbe-iconbox stbe-iconbox--4x-icon az-styleable stbe-iconbox--icon-adjacent stbe-iconbox--right">
    <div class="stbe-iconbox__heading">
        <div class="stbe-iconbox__span-icon"><i class="fa fa-heart fa-4x"><span class="element-invisible">&nbsp;</span></i>
        </div>
        <h2 class="stbe-iconbox__title">Icon Box</h2>
    </div>
    <div class="stbe-iconbox__content az-editable">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </div>
</div>