<link href="../../css/elements/pricelisting.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="pricelisting" class="stpe-pricelisting clearfix">
  <div class="stpe-pricelisting__heading clearfix ul data-glazed-builder-libraries=\"timeline\" class=\"stpe-timeline ">
    <div class="stpe-pricelisting__title az-editable ul data-glazed-builder-libraries=\"timeline\" class=\"stpe-timeline ">
      <h4>Lorem Ipsum Dolor</h4>
    </div>
    <div class="stpe-pricelisting__price az-editable ul data-glazed-builder-libraries=\"timeline\" class=\"stpe-timeline ">
      <h4>$19.95</h4>
    </div>
  </div>
  <div class="stpe-pricelisting__description az-editable ul data-glazed-builder-libraries=\"timeline\" class=\"stpe-timeline ">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
  </div>
</div>