<link href="../../css/elements/pricingtable.css" rel="stylesheet" type="text/css">

<div data-glazed-builder-libraries="pricingtable" class="stpe-pricingtable stpe-pricingtable--full row clearfix">
  <div class="az-editable stpe-pricingtable__panel-wrapper  col-sm-6">
    <div class="stpe-pricingtable__panel-container">
      <div class="stpe-pricingtable__panel">
        <div class="stpe-pricingtable__panel-heading">
          <h3 class="stpe-pricingtable__panel-title">Standard</h3>
        </div>

        <div class="stpe-pricingtable__panel-body">
          <div class="stpe-pricingtable__price">
            <span class="az-editable stpe-pricingtable__currency">$</span><span class="az-editable stpe-pricingtable__integer text-primary az-editable">19</span><sup class="az-editable stpe-pricingtable__decimal text-primary az-editable">99</sup><span class="az-editable stpe-pricingtable__period">monthly</span>
          </div>
        </div>

        <ul class="list-group az-sortable">
          <li class="az-editable list-group-item">5 Projects</li>
          <li class="az-editable list-group-item">5 GB Storage</li>
          <li class="az-editable list-group-item">Unlimited Users</li>
          <li class="az-editable list-group-item">10 GB Bandwith</li>
        </ul>

        <div class="stpe-pricingtable__panel-footer">
            <a href="http://sooperthemes.com/pricing" class="az-editable stpe-borderbutton btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="az-editable stpe-pricingtable__panel-wrapper col-sm-6">
    <div class="stpe-pricingtable__panel-container">
      <div class="stpe-pricingtable__panel">
        <div class="stpe-pricingtable__panel-heading">
          <h3 class="stpe-pricingtable__panel-title">Premium</h3>
        </div>

        <div class="stpe-pricingtable__panel-body">
          <div class="stpe-pricingtable__price">
            <span class="az-editable stpe-pricingtable__currency">$</span><span class="az-editable stpe-pricingtable__integer text-primary az-editable">29</span><sup class="az-editable stpe-pricingtable__decimal text-primary az-editable">99</sup><span class="az-editable stpe-pricingtable__period">monthly</span>
          </div>
        </div>

        <ul class="list-group az-sortable">
          <li class="az-editable list-group-item">10 Projects</li>
          <li class="az-editable list-group-item">15 GB Storage</li>
          <li class="az-editable list-group-item">Unlimited Users</li>
          <li class="az-editable list-group-item">20 GB Bandwith</li>
        </ul>

        <div class="stpe-pricingtable__panel-footer">
            <a href="http://sooperthemes.com/pricing" class="az-editable stpe-borderbutton btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>