@charset "UTF-8";

// CONTROL BUTTONS

// Controls Styling
// we use opacity 0 and pointer-events non instead of display:block so that we
// can calculate positions of hidden controls and do collision detection
.az-element .controls {
  font-size: 12px!important;
  line-height: 1.2em!important;
  border: none;
  border-radius: 4px;
  transition: opacity .2s ease-out 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  background: #fcfcfc;
  position: relative;
  &::after {
    border-radius: 3px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
    pointer-events: none;
    opacity: 0;
    transition: opacity .7s ease-in-out;
  }
  .control {
    display: inline-block;
    float: none;
    border: none;
    border-radius: 0;
    padding: 6px 12px;
    height: 30px;
    top: auto;
    margin: 0;
    &:first-child {
      border-radius: 4px;
    }
    &:last-child {
      border-radius: 4px;
    }
    &.btn-default {
      background: #fcfcfc;
      color: #555;
      &:hover, &:focus {
        background: #ddd;
      }
    }
    &.drag-and-drop {
      cursor: move;
      text-transform: uppercase;
      &::before {
        margin-right: 3px;
      }
    }
  }
  &.btn-group-xs {
    .control {
      padding: 8px;
      border-left: none;
      border-right: none;
      font-size: 12px;
      line-height: 14px;
      &.default {
        background: #aaa;
        color: #eee;
      }
    }
    .control-label {
      position: relative;
      top: -2px;
    }
  }
  > .popover {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23) !important;
    border-radius: 0 0 3px 3px !important;
    .popover-title {
      background: #0180ef !important;
      color: #fff !important;
      border-radius: 3px 3px 0 0 !important;
    }
  }
}

// Controls positioning
.az-element > .controls {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3500;
  text-align: center;
  word-wrap: normal;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.az-element--controls-top-left > .controls {
  left: 0px;
  // top: -26px!important;
  top: 0;
  transform: none;
}
.glazed-editor .az-element--controls-spacer {
  margin-top: 32px !important;
}
// Viewport edge padding
.glazed-editor .az-element.az-section > .controls {
  left: 2px;
  top: 2px;
    .az-element.az-section > .controls {
      left: 0;
      top: 0;
    }
}

// Not just Clearfix, "." makes it a collapsing margin breaker
.az-container:before,
.glazed-editor .az-wizard:before,
.glazed-editor .az-ctnr:before,
.glazed-editor .az-element.az-row:before,
.glazed-editor .az-element.az-section:before,
.glazed-editor .az-element.az-grid ul:before,
.glazed-editor .az-tabs .tab-content:before,
.glazed-editor .az-accordion.az-element:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: visible;
  overflow: hidden;
}

// Main Builder Buttons
.az-container > .controls {
  position: absolute;
  right: 2px;
  top: 2px;
  left: auto;
  // top: -39px;
  // transform: none;
  &::after {
    opacity: 1;
  }
  .control:first-child {
    border-radius: 0;
  }
  .control:last-child {
    border-radius: 0;
  }
}
.az-container > .controls > .control:first-child {
  width: 41px;
  background: #0180ef url("../images/glazed-builder-logo.png") no-repeat scroll -21px 50% / 368% auto;
  cursor: default;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  transition: width .2s ease-out .6s, background .2s ease-out .6s;
  &:hover {
    width: 100px;
    background: #0180ef url('../images/glazed-builder-logo.png') no-repeat center center / 54px;
    background-size: 80%;
  }
}

// Nest Container Main Buttons
.glazed-editor .az-container {
  top: 0;
}
.az-container .az-container > .controls > .control:first-child {
  cursor: move;
}

// This class is removed when you click the eye icon in main buttons
.glazed-editor {
  .az-element .controls {
    display: block !important;
  }
  // Element Button styling
  .az-element > .controls:hover {
    z-index: 3501;
  }
}
// Show controls
.az-container:hover > .controls,
.glazed-editor .controls--show,
.glazed-editor .controls:hover {
  pointer-events: auto;
  opacity: 1;
  transition: opacity .2 ease-in-out 0;
  &::after {
    opacity: 1;
  }
}
.glazed-editor .az-element--hide-controls > .controls {
  opacity: 0 !important;
  pointer-events: none !important;
}
.az-row > .controls {
  transition: none!important;
}
.glazed-editor.az-container > .az-section:hover {
  z-index: 2000;
}


// Disabled Functions
.control.toggle-animations,
.control.copy,
.control.paste {
  display: none!important;
}

.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
.controls .glyphicon {
  font-family: inherit!important
}
.glyphicon:before,
.glyphicon::before {
  font-family: "Glyphicons Halflings"!important;
}

// indicate columns can be dragged horiztonally to swap them
.az-column > .controls.btn-group-xs {
  .btn.drag-and-drop {
    cursor: col-resize;
  }
}
.az-tabs a[role=tab] {
  cursor: col-resize;
}

// Make sure stuff is visible/clickable
.az-separator {
  min-height: 1px;
}
.az-container.glazed {
  min-height: 50px;
}

.az-highlight {
  z-index: 10000 !important;
}
.az-highlight .controls {
  display: block !important;
}

// Add Section Control

.control.add-section {
  border: none;
  display: block;
  margin: 0;
  transform: translate(-50%, 50%);
  padding: 4px 9px;
  background: #fcfcfc;
  color: #555;
  bottom: 0;
  box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
  left: 50%;
  opacity: 0;
  position: absolute;
  right: auto;
  top: auto;
  transition: opacity .1s ease-out;
  z-index: 3500;
  &:hover, &:focus {
    background: #fcfcfc;
    color: #555;
    border: none;
  }
}

.glazed-editor .az-section:hover > .add-section {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}